.square {
    background-color: white;
    border: 1px solid black;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    margin: -1px -1px -1px -1px;
    text-align: center;
    padding: 0;
    width: 100px;
    height: 100px;
}
.square:focus {
    outline:none
}

    